flask
flask-jwt-extended
flask-cors
python-dotenv
pymongo
nltk
spacy
textblob
PyPDF2
pydub
SpeechRecognition
gunicorn
edge-tts
moviepy
Pillow
imageio-ffmpeg
openai
flask-sqlalchemy
psycopg2-binary
langdetect
